---
import Layout from "@layouts/Layout.astro";
import NavigationBar from "@components/Navigation";
import TeamCard from "@components/About/TeamCard.astro";
import BusinessHours from "@components/BusinessHours.astro";
import Footer from "@components/Footer.astro"

import { teamMembers } from "@data/salonInfo";

const { hairStylist, manicurist, esthetician, pedicurist, masseuse, makeupArtist } = teamMembers
---

<Layout title="About">
  <NavigationBar client:load />
  <h1 class="text-5xl text-center my-10">About Our Beloved Salon</h1>
  <!--- About the salon section --->
  <section
    class="w-full flex flex-col md:flex-row md:justify-start md:items-center border-t-1"
    aria-label="Section about the beauty salon"
  >
    <figure class="w-full md:w-6/12">
      <img
        class="w-full"
        src="/images/about-images/about-img-1.webp"
        alt="Beauty salon"
        title=""
        loading="lazy"
      >
    </figure>
    <div class="w-full md:w-6/12 flex flex-col gap-5 p-5">
      <h2 class="text-3xl">Located at [City Name], in the State of [State Name]</h2>
      <p class="text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, inventore autem nostrum odio nobis sed quo! Ex dolor facere totam eius magni error accusantium officia.</p>
      <p class="text-xl">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione accusamus corrupti unde dolores sequi facilis libero, iste ipsam nisi! Tenetur officia eligendi, at dignissimos tempora officiis aliquid impedit ea deserunt.</p>
      <p class="text-xl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quod eos, reiciendis velit sunt doloribus consequatur deleniti ad totam delectus, a vitae? Enim, minima quae! Totam, soluta officia. In, consequatur.</p>
      <p class="text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis est maxime modi error placeat quas ut laboriosam quia sapiente ea ipsum soluta, odio reprehenderit maiores, nulla autem corporis cum. Minima, architecto fugit quae culpa obcaecati mollitia rem fuga explicabo atque.</p>
    </div>
  </section>
  <!--- About the owner section --->
  <section
    class="w-full flex flex-col md:flex-row md:justify-end md:items-center border-b-1"
    aria-label="Section about the owner of the beauty salon"
  >
    <div class="w-full md:w-6/12 flex flex-col gap-5 p-5">
      <h2 class="text-3xl">The Owner Herself</h2>
      <p class="text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, inventore autem nostrum odio nobis sed quo! Ex dolor facere totam eius magni error accusantium officia.</p>
      <p class="text-xl">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione accusamus corrupti unde dolores sequi facilis libero, iste ipsam nisi! Tenetur officia eligendi, at dignissimos tempora officiis aliquid impedit ea deserunt.</p>
      <p class="text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi reprehenderit sint, ipsam quaerat impedit voluptatum amet. Libero vero omnis pariatur, minima officiis voluptates autem illo ratione illum? Quia, libero in!</p>
      <p class="text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis est maxime modi error placeat quas ut laboriosam quia sapiente ea ipsum soluta, odio reprehenderit maiores, nulla autem corporis cum. Minima, architecto fugit quae culpa obcaecati mollitia rem fuga explicabo atque.</p>
    </div>
    <figure class="w-full md:w-6/12">
      <img
        class="w-full"
        src="/images/about-images/about-img-2.webp"
        alt="Owner of the beauty salon"
        title="Owner of the beauty salon"
        loading="lazy"
      >
    </figure>
  </section>
  <!--- Team Members Section --->
  <section
    class="py-10"
    aria-labelledby="meet-team-subtitle"
  >
    <h2 class="text-4xl text-center my-10" id="meet-team-subtitle">Meet The Team</h2>
    <div
      class="w-full flex flex-col justify-center items-center sm:flex-row flex-wrap gap-5"
      aria-label="Salon team members section"
    >
      <TeamCard
        src={hairStylist.photo}
        alt={hairStylist.alt}
        name={hairStylist.name}
        job={hairStylist.job}
        description={hairStylist.description}
      />
      <TeamCard
        src={manicurist.photo}
        alt={manicurist.alt}
        name={manicurist.name}
        job={manicurist.job}
        description={manicurist.description}
      />
      <TeamCard
        src={esthetician.photo}
        alt={esthetician.alt}
        name={esthetician.name}
        job={esthetician.job}
        description={esthetician.description}
      />
      <TeamCard
        src={pedicurist.photo}
        alt={pedicurist.alt}
        name={pedicurist.name}
        job={pedicurist.job}
        description={pedicurist.description}
      />
      <TeamCard
        src={masseuse.photo}
        alt={masseuse.alt}
        name={masseuse.name}
        job={masseuse.job}
        description={masseuse.description}
      />
      <TeamCard
        src={makeupArtist.photo}
        alt={makeupArtist.alt}
        name={makeupArtist.name}
        job={makeupArtist.job}
        description={makeupArtist.description}
      />
    </div>
  </section>
  <!--- Business Hours Section --->
  <BusinessHours />
  <!--- Footer Section --->
  <Footer />
</Layout>