---
import type { IServiceCard } from "@interfaces/IServiceCard"

const { src, alt, title, description } = Astro.props as IServiceCard
---

<article
  class="service-card w-full sm:w-5/6 lg:w-3/12 flex flex-col items-center
  gap-3 p-3"
  role="listitem"
>
  <figure class="w-full">
    <img
      class="w-full hover:scale-105 transition-transform duration-300"
      src={src}
      alt={alt}
      title={alt}
    >
  </figure>
  <h3 class="text-2xl text-white text-center font-semibold">{title}</h3>
  <p class="text-white text-center">{description}</p>
</article>